.contact{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #141414;
}

.ctnContact{
    width: 70%;
    display: flex;
    margin: auto;
    min-width: 1160px;
}

.contactBox{
    width: 50%;
    height: 100vh;
}

.boxForm{
    width: 55%;
    min-width: 410px;
    height: 100%;
    margin: auto;
    position: relative;
}

input{
    padding: 8px 8px 8px 50px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 7px;
    border: solid 2px black;
}

.boxForm{
    width: 50%;
    margin: auto;
    height: calc(100% - 200px);
}

.np{
    width: 30%;
    margin: auto;
    position: absolute;
}

.nom{
    left: 0;
    text-transform: uppercase;
}

.prenom{
    right: 0;
    text-transform: uppercase;
}

.mail{
    top: 14%;
    width: calc(100% - 60px);
    position: absolute;
}

.img-user{
    top: 7px;
}

.icoForm{
    color: #313131;
    font-size: 23px;
    position: absolute;
    left: 14px;
}

.img-env{
    top: 80px;
}

.img-user2{
    left: 58%;
    top: 7px;
}

textarea{
    color: black;
    width: calc(100% - 31px);
    height: 30%;
    margin-top: 148px;
    padding: 15px;
    font-size: 14px;
    background-color: white;
    border: solid 2px black;
}

.send{
    border: solid 3px #33E073;
    background-color: #33e07347;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s;
    color: white;
    width: 100%;
    margin-top: 40px;
}

.send:hover{
    background-color: #0b9d41;
}

.ctnBox{
    width: 450px;
    margin: auto;
    height: 100%;
    padding-top: 100px;
    color: #656565;
}

.info-perso{
    padding: 10px 0%;
    font-size: 20px;
}

.ctnIframe{
    padding-top: 10px;
    height: 40%;
    min-height: 364px;
    width: 70%;
    min-width: 410px;
}

.ico-maps{
    color: white;
    font-size: 25px;
    padding-right: 40px;
}