.contact{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #141414;
}

.ctnContact{
    width: 70%;
    display: flex;
    margin: auto;
    min-width: 1160px;
}

.contactBox{
    width: 50%;
    height: 100vh;
}

.subject{
    margin-top: 70px;
}
label{
    color: white;
}
label::before {
    transform: translateX(100%);
  }

.boxForm{
    width: 55%;
    min-width: 410px;
    height: 100%;
    margin: auto;
    position: relative;
}

.img-sub{
    top: 77px;
}

input{
    padding: 8px 8px 8px 8px;
    font-size: 15px;
    font-weight: 700;
    width: calc(100% - 15px);
    background-color: #ffffff00;
    border: none;
    border-bottom: solid 2px white;
    border-radius: 0;
    border-color: white;
    color: white;
}

.boxForm{
    width: 50%;
    margin: auto;
    height: calc(100% - 200px);
}

.np{
    width: 30%;
    margin: auto;
    position: absolute;
}

.nom{
    left: 0;
    text-transform: uppercase;
}

.prenom{
    right: 0;
    text-transform: uppercase;
}

.mail{
    position: absolute;
}

.img-user{
    top: 7px;
}

.icoForm{
    color: #313131;
    font-size: 23px;
    position: absolute;
    left: 14px;
}

.img-env{
    top: 8px;
}

.img-user2{
    left: 58%;
    top: 7px;
}

textarea{
    color: black;
    width: calc(100% - 31px);
    height: 30%;
    padding: 15px;
    font-size: 14px;
    background-color: white;
    border: solid 2px black;
    margin-top: 35px;
}

.send{
    border: solid 3px #33E073;
    background-color: #33e07347;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s;
    color: white;
    width: 100%;
    margin-top: 40px;
}

.send:hover{
    background-color: #0b9d41;
}

.ctnBox{
    width: 450px;
    margin: auto;
    height: 100%;
    padding-top: 100px;
    color: #656565;
}

.info-perso{
    padding: 10px 0%;
    font-size: 20px;
}

.ctnIframe{
    padding-top: 10px;
    height: 40%;
    min-height: 364px;
    width: 70%;
    min-width: 410px;
}

.ico-maps{
    color: white;
    font-size: 25px;
    padding-right: 40px;
}