.experience{
    background-image: url(./Img/backExp2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.ctnPhrise2{
    width: 100%;
    height: 100vh;
    position: relative;
}

.titleParcours{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30;
    padding-top: 20px;
}

.kam{
    top: -205px;
}

.inst{
    top: -162px;
}

.titleExperience{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 30px;
    font-weight: 700;
}