.contact{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #141414;
}

.ctnContact{
    width: 70%;
    display: flex;
    margin: auto;
    min-width: 1160px;
}

.contactBox{
    width: 50%;
    height: 100vh;
}

.subject{
    margin-top: 70px;
}
label{
    color: white;
}
label::before {
    transform: translateX(100%);
  }

.boxForm{
    width: 55%;
    min-width: 410px;
    height: 100%;
    margin: auto;
    position: relative;
}

.img-sub{
    top: 77px;
}

input{
    padding: 8px 8px 8px 0px;
    font-size: 15px;
    font-weight: 700;
    width: calc(100% - 15px);
    background-color: #ffffff00;
    border: none;
    border-bottom: solid 2px white;
    border-radius: 0;
    border-color: white;
    color: white;
}

.boxForm{
    width: 50%;
    margin: auto;
    height: calc(100% - 200px);
}

.np{
    width: 30%;
    margin: auto;
    position: absolute;
}

.nom{
    left: 0;
    text-transform: uppercase;
}

#maillab{
    position: absolute;
    top: 8px;
    transition: all .3s;
}

#sublab{
    position: absolute;
    top: 78px;
    left: 0;
    transition: all .3s;
}

.mail:focus~label {
    transform: translateY(-120%) scale(.75);
}

.mail:valid~label {
    color: rgb(51, 224, 115);
    transform: translateY(-120%) scale(.75);
}

.subject:valid~label {
    color: rgb(51, 224, 115);
    transform: translateY(-120%) scale(.75);
}

.mail:focus{
    outline: none;
    border-bottom: solid 2px;
    border-color: #33e073;
    border-width: 3px;
    transition: all .4s;
}

.subject:focus{
    outline: none;
    border-bottom: solid 2px;
    border-color: #33e073;
    border-width: 3px;
    transition: all .4s;
}

.subject:focus~label {
    transform: translateY(-120%) scale(.75);
}

.prenom{
    right: 0;
    text-transform: uppercase;
}

.mail{
    position: absolute;
}

.img-user{
    top: 7px;
}

.icoForm{
    color: #313131;
    font-size: 23px;
    position: absolute;
    left: 14px;
}

.img-env{
    top: 8px;
}

.img-user2{
    left: 58%;
    top: 7px;
}

textarea{
    color: white;
    width: calc(100% - 31px);
    height: 30%;
    padding: 15px;
    font-size: 14px;
    background-color: #141414;
    border: solid 2px white;
    margin-top: 35px;
}

.description:focus{
    outline: none;
    border-color: #33e073;
    transition: all .4s;
}

.send{
    border: solid 3px #33E073;
    background-color: #33e07347;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s;
    color: white;
    width: 100%;
    margin-top: 40px;
}

.send:hover{
    background-color: #0b9d41;
}

.ctnBox{
    width: 450px;
    margin: auto;
    height: 100%;
    padding-top: 100px;
    color: #656565;
}

.info-perso{
    font-size: 20px;
}

.ctnIframe{
    padding-top: 10px;
    height: 40%;
    min-height: 364px;
    width: 70%;
    min-width: 410px;
}

.ico-maps{
    color: white;
    font-size: 25px;
    padding-right: 40px;
}

/*check*/
.check {
    width: 100px;
    display: none;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  .check{
    position: fixed;
    top: calc(50% - 120px);
    left: calc(50% - 50px);
    z-index: 10;
    stroke: #33e073;
  }
  
  .info-mail{
    padding-bottom: 22px;
    padding-top: 22px;
  }

  .appartiones{
    animation-duration: 3s;
    animation-name: apparitionvalid;
  }

  @keyframes apparitionvalid {
    0% {
      display: block;
      opacity: 0;
    }
    90%{
      display: block;
    }
    100% {
      opacity: 1;
      display: none;
    }
  }

  .info-tel{
    margin-left: 8px;
  }
